body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
span {
	margin-left: 10%;
}

.container {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px;
}

.meeting-table {
    width: 100%;
    border-collapse: collapse;
}

.meeting-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.meeting-item {
    border-bottom: 1px solid #ddd;
}

.meeting-item:last-child {
    border-bottom: none;
}

.meeting-item div {
    padding: 10px;
}

.meeting-title {
    font-weight: bold;
}

.meeting-time {
	margin-left: 10%;
    color: #777;
}
